################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Test-Wordpress
/.vs/slnx.sqlite
*.sqlite-journal
/.gitignore
/.vs/slnx.sqlite
/.vs/Test-Wordpress/CopilotIndices/17.13.430.18484/CodeChunks.db
/.vs/Test-Wordpress/CopilotIndices/17.13.430.18484/CodeChunks.db
